$primary: #cb3837;
$link: $primary;
$family-sans-serif: "Source Sans Pro", sans-serif;
$card-header-padding: 0.75rem 1.5rem;
$body-size: 18px;
$size-5: 20px;
$size-4: 22px;
$size-3: 24px;
$size-2: 42px;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/_all";

@import "@dword-design/nuxt-buefy/dist/style";

.hero.is-primary .label {
  color: #fff;
}

.card .table {
  margin-right: -1.5rem;
  margin-left: -1.5rem;

  &.is-fullwidth {
    width: calc(100% + 3rem);
  }

  th,
  td {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.h-full {
  height: 100%;
}

.field-label {
  flex-grow: 0;
}

.loading-overlay .loading-icon {
  position: static;

  &::after {
    top: 5rem;
  }
}

.modal {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .animation-content {
    overflow: auto;
    max-height: 100%;
  }
}

.modal-background {
  background: rgba(10, 10, 10, 0.5);
}
